*{
  font-family: 'Inconsolata';
  color: white;
}

body {
  background-image: url("../Images/radar.jpg");
  background-size: cover;
}


table {
  margin: 0 auto;
  border-radius:20px;
}
td {
  border: 1px solid rgba(55,255,33,1);
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  box-sizing:border-box;
  background-color: rgba(0,255,255,0.4);
}
td.hover {
  border: 1px solid red;
}
h1 {
  text-align: center;
  color: white;
}
.placedShip {
  background-image: url("../Images/sub.gif");
  background-size: cover;
}
.hit {
  background-image: url("../Images/boom.png");
  background-size: cover;
  color: transparent;
}

.playerBoard {
  float: right;
  margin: 0 150px;
}

.computerShip{
  
}
thead {
  width: 300px;
}
h2 {
  text-align: center;
  color: white;
}
#reset {
  padding: 5px;
  width: 400px;
  font-size: 1.5em;
  border-radius: 10px;
  cursor: pointer;
}
.container {
  text-align: center;
}

#ship{
  border: 2px solid black;
  width: 100px;
}
table:hover {
    -webkit-transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
  vertical-align: middle;
}
td:hover{
border-color: blue;
}
/*.custom {
   cursor: url('../Images/Radar.ani'), auto;
}*/