table {
  margin: 0 auto;
  border-radius:10px;
}
td {
  border: 1px solid grey;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 8em;
  box-sizing:border-box;
}
h1 {
  text-align: center;
}
.placedShip {
  background-color: red;
}